div.background{
    display: flex;
    align-items: center;
    justify-content: center;
background-color: rgba(128, 128, 128, 0.19);
    width: 100vh;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

}
div.background.hidden{
    display: none;
}
div.background > div.popup{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
div.background > div.footer{
 display: flex;
 justify-content: space-between;
 padding: 10px 0;
}

div.background > div.footer > button:first-child{
    color: green;
}
div.background > div.footer > button:last-child{
    color: red;
}