:root{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* width: 100vh; */
    height: 100vh;
}
main.game{
    height: 75vh;
    width: 75vh;
    position: relative;
    background-image: url(../../../farm-img/Background/5e04942f-c616-4065-b747-aadba594d719.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: ; */
}
main.game > section.field {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height:20%;

    position: absolute;
    left: 15%;
    top: 75%;

}
main.game > section.field > div.cell{
    /* background-color: black; */
    width: 12%;
    height: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    background-image: url(../../../farm-img/Field/Cell.png);
    background-size: contain;
}

div.potato{
    background-color: rgb(246, 255, 127);
}
div.tomato{
    background-color: rgb(255, 0, 0);
}
div.cucumber{
    background-color: rgb(0, 128, 0);
}
div.carrot{
    background-color: rgb(255, 165, 0);
}

div.eggplant{
    background-color: rgb(123, 0, 255);
}
div.zucchini{
    background-color: rgb(75, 156, 0);
}
div.pumpkin{
    background-color: rgb(179, 118, 7);
}
main.game > section.dog{
    position: absolute;
    width: 17%;
    height: 17%;
    border: 4px solid brown;
    left: 10%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 2; */
    background-image: url(../../../farm-img/Doghouse/Doghouse.png);
    background-size: cover;


}
main.game > section.dog > section.doghouse{
    width: 100%;
    height: 100%;
    
}
main.game > section.yard{
    position: absolute;
    width: 30%;
    height: 15%;
    border: 4px solid rgb(42, 79, 165);
    left: 40%;
    top: 50%;
    display: flex;
    align-items: center;
    z-index: 5;

    
}
main.game > section.yard > div.animal, main.game > section.yard > div.food{
    display: flex;
    align-items: center;
}

main.game > section.yard  div.pork{
    width: 50px;
    height: 50px;
    background-color: pink;
}

main.game > section.yard  div.cow{
    width: 50px;
    height: 50px;
    background-color: brown;
}

div.apple, div.carrot, div.grass, div.hay{
    width: 20px;
    height: 20px;
    /* background-color: brown; */
}

main.game > section.yard div.apple{
    background-color: rgb(234, 63, 25);
}
main.game > section.yard div.carrot{
    background-color: rgb(234, 136, 25);
}
main.game > section.yard div.grass{
    background-color: rgb(25, 234, 56);
}
main.game > section.yard div.hay{
    background-color: rgb(51, 77, 47);
}

main.game > section.house{
    position: absolute;
    width: 50%;
    height: 50%;
    border: 4px solid rgb(165, 126, 42);
    right: 0%;
    top: 12%;
    background-image: url(../../../farm-img/House/House.png);
    background-size: cover;
    background-repeat: no-repeat;
}
main.game > section.farmer{
    position: absolute;
    width: 100px;
    height: 300px;
    border: 4px solid rgb(108, 42, 165);
    left: 60%;
    top: 10%;
}