div#root > div.main{
  width: 800px;
  height: 800px;
  position: relative;
  border: 1px solid green;
}
span.go-back{
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px;
}